.slider {
	width: 100%;
	position: relative;
}

.slider ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slider li {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

img {
	height: 400px;
	width: 800px;
}

.slider li.active {
	opacity: 1;
}


#nav {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc; 
    margin-left: 0px;
}

#nav li{
	float: right;
	padding: 16px;
}

#wrap {
	position:center;
}

#header div{
	position: center;
}
